<%- include('partials/header') %>

  <div class="jumbotron">
    <div class="container">
    <h1> Welcome <%= userName %> to <%= roomId %> </h1>
    </div>
    <hr> </hr>
    <div>
    <h3> Admin: <%= adminId %> </h3>
    <h3> Date Assigned: <%= date %> </h3>
    <hr> </hr>
  </div>
  </div>

  <div>
      <% tasks.forEach((task, i) => { %>
        <% if (i===0) {%>
          <form action= "/delete" method="post">
          <div class="container jumbotron text-center">
            <input type="hidden" name="roomId" value="<%= roomId %>"> </input>
            <p><%= task.name %></p>
          </div>
          </form>
        <% } else { %>
        <form action= "/delete" method="post">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="box" value="<%= task.id %>">
          <input type="hidden" name="roomId" value="<%= roomId %>"> </input>
          <p><%= task.name %></p>
        </div>
        </form>
        <% } %>
      <% }); %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <input type="hidden" name="roomId" value="<%= roomId %>"> </input>
        <button type="submit" name="list" value="">+</button>
      </form>
      </div>
