<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <hr>
    <div class="container mt-5">
      <h1 class="display-3">Secrets</h1>
      <div class="row">
        <div class="col-cj">
          <div class="card text-center">
            <div class="card-body">

              <form action="/secrets" method="POST">
                <div class="form-group">
                  <h3> Hi <%= username %>! Create Room or Join Room to begin </h3>
                  <label for="roomid">Room ID: </label>
                  <input type="text" class="form-control" name="roomid">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" name="create" value= "<%= username %>" class="btn btn-dark">Create</button>
                <button type="submit" name= "join" value="<%= username%>" class="btn btn-dark">Join</button>
              </form>



            </div>

          </div>
          <hr>

          <form action="/logout" method="GET">
            <button class="btn btn-light" type="submit" name="logout" > Ready to log out?</button>
          </form>
        </div>
      </div>


  </div>
</div>
</div>

<%- include('partials/footer') %>
